
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
}
body {
    background-color: #000000;
}

/* ---------- header ----------*/ 
.header {
    background: linear-gradient(180deg, transparent 85%, rgba(255, 51, 0, 0.4));
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    max-height: 7vh;
    align-content: center;
    justify-content: space-between;

}

/* ---------- logo ----------*/ 
.profile {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 10rem;
    margin-left: 10vh;
    border: 2px solid rgb(253, 97, 69);
    align-content: center;
}

/* ---------- menu ---------- */ 
.menu {
    display: flex;
    margin-left: 30vw;

}

ul {
    list-style-type: none;
}

.menu li {
    flex-wrap: wrap;
    margin-left: 0.10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1vw 2vh;

}
.menu li a {
    color: rgb(198, 118, 47);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    border: 3px solid rgb(235, 93, 28);
    border-radius: 0.75em;
    padding: 1em 1em;
    background-color: rgb(0, 0, 0);

    text-shadow: 
    0 0 0.5em rgb(240, 29, 159), 
    0 0 0.5em rgb(235, 93, 28);
    box-shadow: 
    inset 0 0 0.5em rgb(235, 93, 28),
    0 0 0.5em rgb(235, 93, 28);
}

.menu li a:hover,
.menu li a:focus {
    background: rgb(235, 93, 28);
    color:rgb(39, 39, 39);
    font-weight: 700;
    text-shadow: none;
    box-shadow: 0 0 1em rgb(247, 92, 20);
}
/* ---------- fim do menu ---------- */  



/* ---------- títulos e botões ---------- */ 
hr {
    background: linear-gradient(10deg, transparent, rgb(252, 95, 4), transparent);
    width: 100%;
    height: 2px;
    border: none;
}
h1 {
    color: #ffffff;
    font-size: 5rem;
    text-shadow: 3px 2px 1px #fa6704;
}
h2 {
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 3px 2px 1px #fa6704;
}
h3 {
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 3px 2px 1px #fa6704;
}


button {
    color: rgb(198, 118, 47);
    font-size: 1rem;
    font-weight: bold;
    width: 10vw;
    height: 6vh;
    border: 3px solid rgb(235, 93, 28);
    border-radius: 0.75em;
    text-align: center;
    position: relative;
    top: 10vh;
    background-color: rgb(0, 0, 0);
}
button:hover {
    background: rgb(235, 93, 28);
    color:rgb(39, 39, 39);
    font-weight: 700;
    text-shadow: none;
    box-shadow: 0 0 1em rgb(247, 92, 20);

}



/* ---------------- conteúdo ------------ */

#container {
    border: 2px solid #000000;
    box-shadow: 1px 1px 1px #000000;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

#container p {
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 0;
    padding: 0.5em;
    text-shadow: 2px 2px 2px #000000;
}

.welcome {
    width: auto;
    height: 50vh;
    padding: 10vh 10vw;
}

.development {
    width: auto;
    height: 50vh;
    padding: 10vh 10vw;
}

.photography {
    width: auto;
    height: 50vh;
    padding: 5vh 10vw;
}

.social {
    width: auto;
    height: 30vh;
    padding: 5vh 10vw;

}
.social-items {
    display: flex;
    flex-wrap: wrap;
}
.social-btn {
    color: #ffffff;
    font-size: 2.5rem;
    margin-left: 10rem; 
    margin-right: 5rem; 
    display: flex;
    margin-top: 6vh;
    text-decoration: none;
    text-shadow: 3px 2px 1px #fa6704;
}
/* ---------- fim do conteúdo ---------- */ 


/* ---------- rodapé ---------- */ 
.footer {
    background-color: #000000;
    width: 100%;
    height: 5vh;
}

.footer p {
    text-align:center;
    color:#ffffff;
    font-size: 0.7rem;
    position: relative;
    top: 1vh;
}


/* ---------- backgrounds ----------*/
.welcome {
    background-image: url(../img/welcome-bg.png);
    background-size: cover;
    background-attachment: scroll;
}
.development {
    background-image: url(../img/development-bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.photography {
    background-image: url(../img/photo-bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.social {
    background-image: url(../img/social-bg.png);
    background-size: cover;
    background-attachment: scroll;
}
